absl-py==2.1.0
ale-py==0.10.1
attrs==24.3.0
cffi==1.17.1
chess==1.9.4
cloudpickle==3.1.0
Farama-Notifications==0.0.4
filelock==3.16.1
fsspec==2024.12.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.0.0
iniconfig==2.0.0
Jinja2==3.1.5
MarkupSafe==3.0.2
ml_collections==1.0.0
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.1
open-spiel==1.5
packaging==24.2
pettingzoo==1.24.3
pluggy==1.5.0
pycparser==2.22
pygame==2.3.0
pyglet==1.5.27
pymunk==6.2.0
pytest==8.3.4
PyYAML==6.0.2
rlcard==1.0.5
scipy==1.14.1
Shimmy==2.0.0
six==1.17.0
sympy==1.13.1
termcolor==2.5.0
torch==2.5.1
typing_extensions==4.12.2
vmas==1.4.2
